body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 30px;
  margin: 0;
  background-color: #0c608c;
}

/* Main card box*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 30px);
  width: 400px;
  padding: 100px 20px 20px 20px;
  padding-bottom: 3em;
  margin-bottom: 0;
  background-color: #1189c7;
  border-radius: 20px 20px 0 0;
  /*horizontal offset, vert offset, blur amount, color & opacity*/
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* prof section */
.profile-pic {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #444;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: "Comic Sans MS", cursive;
  font-size: 24px;
  color: white;
}

.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  gap: 8px;
}

.link {
  flex-grow: 1;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
  text-decoration: none;
}

a:link {
  color: #1a0dab;
  text-decoration: none;
}

a:hover {
  color: #003366;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.copy-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  background: white !important;
  border: none !important;
  padding: 0 !important;
  margin: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
}

.copy-link:focus {
  outline: none;
  box-shadow: none;
}

.copy-link img {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.tool-tip {
  position: absolute;
  bottom: 80%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.copy-link.show-tool-tip .tool-tip {
  opacity: 1;
}


footer {
  position: absolute;
  bottom: -150px;
  width: 100%;
  font-size: 0.8em;
  color: #003366;
  padding: 1em 0;
  text-align: center;
  margin: 0;
}
