.container {
  background-color: #1a1a1a;
  /* dark gray */
  width: 400px;
  /* how wide */
  padding: 20px;
  /* space inside */
  border-radius: 15px;
  /* rounded corners */
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #444;
}

h1 {
  color: white;
  font-size: 24px;
}
