.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  width: 400px;
  padding: 100px 20px 20px 20px;
  border-radius: 20px 20px 0 0;
  /*horizontal offset, vert offset, blur amount, color & opacity*/
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  background-color: #1189c7;
  margin-bottom: 0;
  min-height: calc(100vh - 30px);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c608c;
  min-height: 100vh;
  margin: 0;
  padding-top: 30px;
}

.link-button {
  background-color: white;
  width: 90%;
  /* full width of container */
  padding: 15px;
  /* space inside the box */
  margin: 10px 0;
  /* space between boxes */
  border-radius: 10px;
  /* rounded corners */
  text-align: center;
  /* center the text */
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #444;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  color: red;
  font-size: 24px;
  font-family: Comic Sans MS;
}
